In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from datetime import datetime
import warnings
import sys
import os

# Add src to path to import our data loader
sys.path.append('../src')

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', lambda x: f'{x:,.2f}')
warnings.filterwarnings('ignore')

# Set visualization style
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['font.size'] = 12

print(" Libraries imported successfully!")
print(f" Pandas version: {pd.__version__}")
print(f" NumPy version: {np.__version__}")

 Libraries imported successfully!
 Pandas version: 2.3.3
 NumPy version: 2.3.5

In [ ]:
from data_loader import load_insurance_data

print(" Loading insurance data...")

# Load the data (use sample_size=10000 for testing if dataset is large)
# Remove sample_size parameter for full dataset
try:
    # Try with full dataset first
    df = load_insurance_data(
        data_path='../data/raw/MachineLearningRating_v3.txt',
        clean=True,
        convert_dtypes=True
    )
    print(f" Data loaded successfully!")
    
except Exception as e:
    print(f"  Error loading full dataset: {e}")
    print(" Trying with sample for testing...")
    # Fallback to sample
    df = load_insurance_data(
        data_path='../data/raw/insurance_data.txt',
        sample_size=10000,
        clean=True,
        convert_dtypes=True
    )
    print(f" Sample data loaded successfully!")

print(f"\n Dataset loaded:")
print(f"   ‚Ä¢ Rows: {df.shape[0]:,}")
print(f"   ‚Ä¢ Columns: {df.shape[1]:,}")
print(f"   ‚Ä¢ Memory usage: {df.memory_usage(deep=True).sum() / 1024**2:.1f} MB")

 Loading insurance data...
üìÅ Loading data from: ../data/raw/MachineLearningRating_v3.txt
 Loaded full dataset: 1,000,098 rows, 52 columns

  BASIC DATA INFORMATION:
   Shape: (1000098, 52)
   Memory usage: 2373.96 MB
   Time period: 2013-10-01 00:00:00 to 2015-08-01 00:00:00
   Numeric columns: 15
   Categorical columns: 36

 Cleaning column names...
 Column names cleaned. Examples:
   UnderwrittenCoverID ‚Üí underwrittencoverid
   PolicyID ‚Üí policyid
   TransactionMonth ‚Üí transactionmonth
   IsVATRegistered ‚Üí isvatregistered
   Citizenship ‚Üí citizenship

 Converting data types...
    transactionmonth converted to datetime
 Data type conversion complete
 Data loaded successfully!

 Dataset loaded:
   ‚Ä¢ Rows: 1,000,098
   ‚Ä¢ Columns: 52
   ‚Ä¢ Memory usage: 2309.1 MB

In [32]:
print("="*60)
print("INITIAL DATA INSPECTION")
print("="*60)

# Display first few rows
print("\n First 5 rows of the dataset:")
display(df.head())

# Display last few rows
print("\n Last 5 rows of the dataset:")
display(df.tail())

# Display column information
print("\n Column Information:")
print(f"Total columns: {len(df.columns)}")
print("\nColumn names:")
for i, col in enumerate(df.columns, 1):
    print(f"{i:3d}. {col}")

============================================================
INITIAL DATA INSPECTION
============================================================

 First 5 rows of the dataset:

,underwrittencoverid,policyid,transactionmonth,isvatregistered,citizenship,legaltype,title,language,bank,accounttype,maritalstatus,gender,country,province,postalcode,maincrestazone,subcrestazone,itemtype,mmcode,vehicletype,registrationyear,make,model,cylinders,cubiccapacity,kilowatts,bodytype,numberofdoors,vehicleintrodate,customvalueestimate,alarmimmobiliser,trackingdevice,capitaloutstanding,newvehicle,writtenoff,rebuilt,converted,crossborder,numberofvehiclesinfleet,suminsured,termfrequency,calculatedpremiumperterm,excessselected,covercategory,covertype,covergroup,section,product,statutoryclass,statutoryrisktype,totalpremium,totalclaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,"44,069,150.00",Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.00,"2,597.00",130.00,S/D,4.00,6/2002,"119,300.00",Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,0.01,Monthly,25.00,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.93,0.00
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,"44,069,150.00",Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.00,"2,597.00",130.00,S/D,4.00,6/2002,"119,300.00",Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,0.01,Monthly,25.00,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.93,0.00
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,"44,069,150.00",Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.00,"2,597.00",130.00,S/D,4.00,6/2002,"119,300.00",Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,0.01,Monthly,25.00,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.00,0.00
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,"44,069,150.00",Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.00,"2,597.00",130.00,S/D,4.00,6/2002,"119,300.00",Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,"119,300.00",Monthly,584.65,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.85,0.00
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,"44,069,150.00",Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.00,"2,597.00",130.00,S/D,4.00,6/2002,"119,300.00",Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,NaN,"119,300.00",Monthly,584.65,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.00,0.00

 Last 5 rows of the dataset:

,underwrittencoverid,policyid,transactionmonth,isvatregistered,citizenship,legaltype,title,language,bank,accounttype,maritalstatus,gender,country,province,postalcode,maincrestazone,subcrestazone,itemtype,mmcode,vehicletype,registrationyear,make,model,cylinders,cubiccapacity,kilowatts,bodytype,numberofdoors,vehicleintrodate,customvalueestimate,alarmimmobiliser,trackingdevice,capitaloutstanding,newvehicle,writtenoff,rebuilt,converted,crossborder,numberofvehiclesinfleet,suminsured,termfrequency,calculatedpremiumperterm,excessselected,covercategory,covertype,covergroup,section,product,statutoryclass,statutoryrisktype,totalpremium,totalclaims
1000093,31520,389,2015-04-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,"4,614,100.00",Passenger Vehicle,2013,B.A.W,SASUKA 2.7i (16 SEAT),4.00,"2,693.00",110.00,B/S,4.00,2013/01/01 12:00:00 AM,NaN,Yes,No,0,More than 6 months,No,No,No,NaN,NaN,"500,000.00",Monthly,395.85,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.24,0.00
1000094,31520,389,2015-06-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,"4,614,100.00",Passenger Vehicle,2013,B.A.W,SASUKA 2.7i (16 SEAT),4.00,"2,693.00",110.00,B/S,4.00,2013/01/01 12:00:00 AM,NaN,Yes,No,0,More than 6 months,No,No,No,NaN,NaN,"500,000.00",Monthly,395.85,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.24,0.00
1000095,31520,389,2015-08-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,"4,614,100.00",Passenger Vehicle,2013,B.A.W,SASUKA 2.7i (16 SEAT),4.00,"2,693.00",110.00,B/S,4.00,2013/01/01 12:00:00 AM,NaN,Yes,No,0,More than 6 months,No,No,No,NaN,NaN,"500,000.00",Monthly,395.85,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.24,0.00
1000096,31519,389,2014-07-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,"4,614,100.00",Passenger Vehicle,2013,B.A.W,SASUKA 2.7i (16 SEAT),4.00,"2,693.00",110.00,B/S,4.00,2013/01/01 12:00:00 AM,NaN,Yes,No,0,More than 6 months,No,No,No,NaN,NaN,"5,000,000.00",Monthly,2.64,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.31,0.00
1000097,31519,389,2015-02-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,"4,614,100.00",Passenger Vehicle,2013,B.A.W,SASUKA 2.7i (16 SEAT),4.00,"2,693.00",110.00,B/S,4.00,2013/01/01 12:00:00 AM,NaN,Yes,No,0,More than 6 months,No,No,No,NaN,NaN,"5,000,000.00",Monthly,2.64,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.31,0.00

 Column Information:
Total columns: 52

Column names:
  1. underwrittencoverid
  2. policyid
  3. transactionmonth
  4. isvatregistered
  5. citizenship
  6. legaltype
  7. title
  8. language
  9. bank
 10. accounttype
 11. maritalstatus
 12. gender
 13. country
 14. province
 15. postalcode
 16. maincrestazone
 17. subcrestazone
 18. itemtype
 19. mmcode
 20. vehicletype
 21. registrationyear
 22. make
 23. model
 24. cylinders
 25. cubiccapacity
 26. kilowatts
 27. bodytype
 28. numberofdoors
 29. vehicleintrodate
 30. customvalueestimate
 31. alarmimmobiliser
 32. trackingdevice
 33. capitaloutstanding
 34. newvehicle
 35. writtenoff
 36. rebuilt
 37. converted
 38. crossborder
 39. numberofvehiclesinfleet
 40. suminsured
 41. termfrequency
 42. calculatedpremiumperterm
 43. excessselected
 44. covercategory
 45. covertype
 46. covergroup
 47. section
 48. product
 49. statutoryclass
 50. statutoryrisktype
 51. totalpremium
 52. totalclaims

In [33]:
print("="*60)
print("DATA TYPES AND BASIC STATISTICS")
print("="*60)

# Data types
print("\nüîç Data Types:")
dtype_summary = pd.DataFrame({
    'column': df.columns,
    'dtype': df.dtypes,
    'non_null_count': df.count(),
    'null_count': df.isnull().sum(),
    'null_percentage': (df.isnull().sum() / len(df)) * 100
})

print(dtype_summary.to_string())

# Basic statistics for numeric columns
print("\n Basic Statistics for Numeric Columns:")
numeric_cols = df.select_dtypes(include=[np.number]).columns
if len(numeric_cols) > 0:
    numeric_stats = df[numeric_cols].describe().T
    numeric_stats['missing_%'] = (df[numeric_cols].isnull().sum() / len(df)) * 100
    display(numeric_stats)
else:
    print(" No numeric columns found")

# Basic statistics for categorical columns
print("\nüî§ Basic Statistics for Categorical Columns (Top 5 by unique values):")
cat_cols = df.select_dtypes(include=['object']).columns
if len(cat_cols) > 0:
    cat_stats = []
    for col in cat_cols[:5]:  # Show first 5 categorical columns
        unique_vals = df[col].nunique()
        most_common = df[col].mode().iloc[0] if not df[col].mode().empty else 'N/A'
        most_common_pct = (df[col] == most_common).mean() * 100 if most_common != 'N/A' else 0
        cat_stats.append({
            'column': col,
            'unique_values': unique_vals,
            'most_common': most_common,
            'most_common_%': f"{most_common_pct:.1f}%"
        })
    display(pd.DataFrame(cat_stats))
else:
    print(" No categorical columns found")

============================================================
DATA TYPES AND BASIC STATISTICS
============================================================

üîç Data Types:
                                            column           dtype  non_null_count  null_count  null_percentage
underwrittencoverid            underwrittencoverid           int64         1000098           0             0.00
policyid                                  policyid           int64         1000098           0             0.00
transactionmonth                  transactionmonth  datetime64[ns]         1000098           0             0.00
isvatregistered                    isvatregistered            bool         1000098           0             0.00
citizenship                            citizenship          object         1000098           0             0.00
legaltype                                legaltype          object         1000098           0             0.00
title                                        title          object         1000098           0             0.00
language                                  language          object         1000098           0             0.00
bank                                          bank          object          854137      145961            14.59
accounttype                            accounttype          object          959866       40232             4.02
maritalstatus                        maritalstatus          object          991839        8259             0.83
gender                                      gender          object          990562        9536             0.95
country                                    country          object         1000098           0             0.00
province                                  province          object         1000098           0             0.00
postalcode                              postalcode           int64         1000098           0             0.00
maincrestazone                      maincrestazone          object         1000098           0             0.00
subcrestazone                        subcrestazone          object         1000098           0             0.00
itemtype                                  itemtype          object         1000098           0             0.00
mmcode                                      mmcode         float64          999546         552             0.06
vehicletype                            vehicletype          object          999546         552             0.06
registrationyear                  registrationyear           int64         1000098           0             0.00
make                                          make          object          999546         552             0.06
model                                        model          object          999546         552             0.06
cylinders                                cylinders         float64          999546         552             0.06
cubiccapacity                        cubiccapacity         float64          999546         552             0.06
kilowatts                                kilowatts         float64          999546         552             0.06
bodytype                                  bodytype          object          999546         552             0.06
numberofdoors                        numberofdoors         float64          999546         552             0.06
vehicleintrodate                  vehicleintrodate          object          999546         552             0.06
customvalueestimate            customvalueestimate         float64          220456      779642            77.96
alarmimmobiliser                  alarmimmobiliser          object         1000098           0             0.00
trackingdevice                      trackingdevice          object         1000098           0             0.00
capitaloutstanding              capitaloutstanding          object         1000096           2             0.00
newvehicle                              newvehicle          object          846803      153295            15.33
writtenoff                              writtenoff          object          358197      641901            64.18
rebuilt                                    rebuilt          object          358197      641901            64.18
converted                                converted          object          358197      641901            64.18
crossborder                            crossborder          object             698      999400            99.93
numberofvehiclesinfleet    numberofvehiclesinfleet         float64               0     1000098           100.00
suminsured                              suminsured         float64         1000098           0             0.00
termfrequency                        termfrequency          object         1000098           0             0.00
calculatedpremiumperterm  calculatedpremiumperterm         float64         1000098           0             0.00
excessselected                      excessselected          object         1000098           0             0.00
covercategory                        covercategory          object         1000098           0             0.00
covertype                                covertype          object         1000098           0             0.00
covergroup                              covergroup          object         1000098           0             0.00
section                                    section          object         1000098           0             0.00
product                                    product          object         1000098           0             0.00
statutoryclass                      statutoryclass          object         1000098           0             0.00
statutoryrisktype                statutoryrisktype          object         1000098           0             0.00
totalpremium                          totalpremium         float64         1000098           0             0.00
totalclaims                            totalclaims         float64         1000098           0             0.00

 Basic Statistics for Numeric Columns:

,count,mean,std,min,25%,50%,75%,max,missing_%
underwrittencoverid,"1,000,098.00","104,817.55","63,293.71",1.00,"55,143.00","94,083.00","139,190.00","301,175.00",0.00
policyid,"1,000,098.00","7,956.68","5,290.04",14.00,"4,500.00","7,071.00","11,077.00","23,246.00",0.00
postalcode,"1,000,098.00","3,020.60","2,649.85",1.00,827.00,"2,000.00","4,180.00","9,870.00",0.00
mmcode,"999,546.00","54,877,704.02","13,603,805.34","4,041,200.00","60,056,925.00","60,058,415.00","60,058,418.00","65,065,350.00",0.06
registrationyear,"1,000,098.00","2,010.23",3.26,"1,987.00","2,008.00","2,011.00","2,013.00","2,015.00",0.00
cylinders,"999,546.00",4.05,0.29,0.00,4.00,4.00,4.00,10.00,0.06
cubiccapacity,"999,546.00","2,466.74",442.80,0.00,"2,237.00","2,694.00","2,694.00","12,880.00",0.06
kilowatts,"999,546.00",97.21,19.39,0.00,75.00,111.00,111.00,309.00,0.06
numberofdoors,"999,546.00",4.02,0.47,0.00,4.00,4.00,4.00,6.00,0.06
customvalueestimate,"220,456.00","225,531.13","564,515.75","20,000.00","135,000.00","220,000.00","280,000.00","26,550,000.00",77.96
numberofvehiclesinfleet,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.00
suminsured,"1,000,098.00","604,172.73","1,508,331.84",0.01,"5,000.00","7,500.00","250,000.00","12,636,200.00",0.00
calculatedpremiumperterm,"1,000,098.00",117.88,399.70,0.00,3.22,8.44,90.00,"74,422.17",0.00
totalpremium,"1,000,098.00",61.91,230.28,-782.58,0.00,2.18,21.93,"65,282.60",0.00
totalclaims,"1,000,098.00",64.86,"2,384.07","-12,002.41",0.00,0.00,0.00,"393,092.11",0.00

üî§ Basic Statistics for Categorical Columns (Top 5 by unique values):

        column  unique_values          most_common most_common_%
0  citizenship              4                              89.5%
1    legaltype              6           Individual         91.2%
2        title              5                   Mr         93.3%
3     language              1              English        100.0%
4         bank             11  First National Bank         26.1%